body{
background:#FEFAE0;
font-family:Arial
}

form{
width:400px;
margin:auto;
margin-top:40px;
background:#E8F5BD;
padding:20px
}

input,select,textarea{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #BBC863
}

button{
margin-top:15px;
padding:10px;
background:#BBC863;
border:none
}

button:hover{
background:#A4B465
}