body{
background:#FEFAE0;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh
}

form{
background:#C7EABB;
padding:30px;
width:320px
}

h2{
text-align:center;
color:#31694E
}

input{
width:100%;
padding:10px;
margin-top:10px;
border:1px solid #BBC863
}

button{
width:100%;
padding:10px;
margin-top:15px;
background:#84B179;
border:none;
color:white
}

button:hover{
background:#658C58
}