body{
background:#F0E491;
font-family:Arial
}

.container{
width:500px;
margin:auto;
margin-top:40px;
background:#FEFAE0;
padding:20px
}

button{
background:#FFCF50;
border:none;
padding:10px;
width:100%
}

button:hover{
background:#BBC863
}